
<footer class="footer">
    <div class="footer1">
        <div class="footer11">
            <h2>Hardik Patel</h2>
            <h5>Web Devloper</h5>
        </div>
       <div class="footer12">
            <a href="https://hardik-portfolio-9dg3.onrender.com">Home</a>
            <a href="https://hardik-portfolio-9dg3.onrender.com/skills">Skills</a>
            <a href="https://hardik-portfolio-9dg3.onrender.com/education">Education</a>
            <a href="https://hardik-portfolio-9dg3.onrender.com/projects">Projects</a>
            <a href="https://hardik-portfolio-9dg3.onrender.com/certificate">Certificate</a>
            <a href="https://hardik-portfolio-9dg3.onrender.com/contactme">Contact Me</a>
        </div>
        <div class="footer13">
            <a href="https://www.linkedin.com/in/hardikpatel2309/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/patelhardikp6"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/hardikp_23/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/Hardikp_23"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
    <div class="copywrites">
        © Hardik_PortFolio,All rights reserved.
    </div>
</footer>
