<% layout("/layouts/boilerplate.ejs") %>
<body>
  <section class="certificate">
    <div class="card-head">
        <h2>certificate</h2>
    </div>
    <div class="certificate-container">
        <div class="card" style="width: 30rem;">
            <img src="./asset/Hardik_Delta.png" class="card-img-top" alt="fullstack_apnacollge">
            <div class="card-body">
              <h5 class="card-title">Full Stack Devlopment</h5>
              <p class="card-text">Certified in full-stack development course by Apna College, where I am learning both frontend and backend technologies. As part of the course, I will complete an end-to-end project.</p>
              <a href="https://my-portfolio-ico9.onrender.com/css/asset/Hardik_Delta.png" class="btn btn-primary">See in Detail</a>
            </div>
        </div>
        <div class="card" style="width: 30rem;">
            <img src="./asset/Hardik_Coe.png" class="card-img-top" alt="COE_SAP">
            <div class="card-body">
              <h5 class="card-title">Center Of Excellence</h5>
              <p class="card-text">Certified in Machine Learning, Deep Learning, and Artificial Intelligence through the COE course by Edunet Foundation,sponsored by SAP</p>
              <a href="https://my-portfolio-ico9.onrender.com/css/asset/Hardik_Coe.png" class="btn btn-primary">See in Detail</a>
            </div>
        </div>
        <div class="card" style="width: 30rem;">
            <img src="./asset/Hardik_Microsoft.png" class="card-img-top" alt="WebDev_Microsoft">
            <div class="card-body">
              <h5 class="card-title">Basics of Web Devlopment</h5>
              <p class="card-text">I completed the Microsoft Azure Web Development Basics course, where I learned the fundamentals of how websites work. This course provided me with in-depth knowledge of frontend technologies. I gained hands-on experience in building and deploying web applications</p>
              <a href="https://my-portfolio-ico9.onrender.com/css/asset/Hardik_Microsoft.png" class="btn btn-primary">See in Detail</a>
            </div>
        </div>
        <div class="card" style="width: 30rem;">
            <img src="./asset/High Level Design Hardik_Patel 2024.png" class="card-img-top" alt="HLD_Scaler">
            <div class="card-body">
              <h5 class="card-title">High Level Design</h5>
              <p class="card-text">I attended a 6-hour seminar by Scaler where I learned about high-level design. The seminar covered the fundamental principles and methodologies of high-level design. I gained insights into how complex systems are structured and how to approach designing scalable and efficient systems</p>
              <a href="https://my-portfolio-ico9.onrender.com/css/asset/High Level Design Hardik_Patel 2024.png" class="btn btn-primary">See in Detail</a>
            </div>
        </div>
    </div>
</section>
</body>