<% layout("/layouts/boilerplate.ejs") %>
<body>                                                 <!-- Main Section -->
    <main class="main">
                             <!--Main Menu -->
        <section class="home">
            <div class="icons">
                <a href="https://www.linkedin.com/in/hardikpatel2309/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/patelhardikp6"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/hardikp_23/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://x.com/Hardikp_23"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="about">
                <span class="text first-text">I am </span>
                <span class="text sec-text">Hardik</span>
                <p class="sub">Full Stack Web Devlopment</p>
                <p class="des">I am currently a 3rd-year Computer Engineering student at Ahmedabad Institute of Technology</p>
                <a href="https://hardik-portfolio-9dg3.onrender.com/contactme" class="Contact">Contact Me
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </div>
            <div class="image">
               
            </div>
        </section>
        <!-------- About Me ------------->
        <section class="aboutme">

        </section>
         <!-------- Skills ------------->
        <section class="Skills-section">
            <div class="header skill-head">
                <h2>My<span>Skills</span></h2>
                <p>Here is my skills to represent my Expertise</p>
            </div>
            
            <div class="skill-main">
                <div class="skill-bar">
                    <div class="info">
                        <p>C</p>
                        <p class="percent">50%</p>
                    </div>
                    <div class="bar">
                        <span class="c"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>JAVA</p>
                        <p class="percent">60%</p>
                    </div>
                    <div class="bar">
                        <span class="java"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>HTML</p>
                        <p class="percent">90%</p>
                    </div>
                    <div class="bar">
                        <span class="html"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>CSS</p>
                        <p class="percent">80%</p>
                    </div>
                    <div class="bar">
                        <span class="css"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>JavaScript</p>
                        <p class="percent">80%</p>
                    </div>
                    <div class="bar">
                        <span class="javascript"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>React</p>
                        <p class="percent">50%</p>
                    </div>
                    <div class="bar">
                        <span class="react"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>Express JS</p>
                        <p class="percent">70%</p>
                    </div>
                    <div class="bar">
                        <span class="express"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>Node JS</p>
                        <p class="percent">70%</p>
                    </div>
                    <div class="bar">
                        <span class="node"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>MongoDB</p>
                        <p class="percent">70%</p>
                    </div>
                    <div class="bar">
                        <span class="mongodb"></span>
                    </div>
                </div>
                <div class="skill-bar">
                    <div class="info">
                        <p>SQL</p>
                        <p class="percent">60%</p>
                    </div>
                    <div class="bar">
                        <span class="sql"></span>
                    </div>
                </div>
            </div>
        </section>
         <!-------- Education ------------->
        <section class="education">
            <header class="ehead">
                <h2>Education</h2>
            </header>
            <div class="content">
                <div class="box">
                    <div class="dot"></div>
                    <h4>2021-2025</h4>
                    <h3>Bachelor's degree</h3>
                    <p>
                        Pursuing a Bachelor’s degree in Computer Engineering from Ahmedabad Institute of Technology,Gujarat focusing on cutting-edge technologies and practical applications in both hardware and software domains. Developed a strong foundation in programming, web development, and data science</p>
                </div>
                <div class="box">
                    <div class="dot"></div>
                    <h4>2019-2021</h4>
                    <h3>High School Degree</h3>
                    <p>Completed high school in the Science stream from Infocity Junior Science College, Gujarat, with a focus on Physics, Chemistry, and Mathematics. Gained a solid foundation in analytical and problem-solving skills.</p>
                </div>
            </div>
        </section>
         <!-------- Projects ------------->
        <section class="projects">
            <div class="card-head">
                <h2>My<span>Projects</span></h2>
            </div>
            <div class="cards-container">
                <div class="card" style="width:25rem;">
                    <img src="/asset/Airbnb-Clone_Photo.png" class="card-img-top" alt="airbnb-clone_image">
                    <div class="card-body">
                      <h4 class="card-title">Wanderlust</h4>
                      <p class="card-text">Developed an Wanderlust leveraging CSS3, JavaScript,Express.js,Node.js,EJS and MongoDB. The application replicates core functionalities of Airbnb, including user authentication, property listings,Crud on listings and bookings. Utilized MongoDB Atlas for cloud-based data storage and Render for seamless deployment.</p>
                      <a href="https://airbnb-clone-tts5.onrender.com" class="btn btn-primary">Wanderlust</a>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <img src="/asset/Microsoft-Clone.png" class="card-img-top" alt="microsoft-Clone">
                    <div class="card-body">
                      <h4 class="card-title">Microsoft-Clone</h4>
                      <p class="card-text">Designed with HTML5 and CSS3, my Microsoft Clone project replicates the iconic interface of Microsoft applications. From sleek navigation bars to responsive layouts, it mirrors the usability and aesthetic of Microsoft's software suite. This project showcases my proficiency in frontend web development, emphasizing attention to detail and UI fidelity.</p>
                      <a href="https://github.com/patelhardikp6/Microsoft-clone" class="btn btn-primary">Know more</a>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <img src="/asset/Amazon-Clone .png" class="card-img-top" alt="amazon-clone_image">
                    <div class="card-body">
                      <h4 class="card-title">Amazon-Clone</h4>
                      <p class="card-text">Experience the essence of Amazon with our HTML5 and CSS3-based clone project. Featuring a familiar user interface, seamless navigation, and responsive design, our clone brings the shopping giant's essence to life. Explore products, add to cart, and simulate a real shopping experience—all crafted with attention to detail for both desktop and mobile platforms.</p>
                      <a href="https://github.com/patelhardikp6/Amazon-Clone" class="btn btn-primary">Know More</a>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <img src="/asset/Spotify-Clone.png" class="card-img-top" alt="spotify-clone_image">
                    <div class="card-body">
                      <h5 class="card-title">Spotify-Clone</h5>
                      <p class="card-text">Experience a sleek Spotify Clone crafted with HTML5 and CSS3, offering seamless music streaming and playlist management. Emulating the familiar user interface, this project showcases responsive design and interactive features for music enthusiasts. Dive into a personalized music experience with ease.</p>
                      <a href="https://github.com/patelhardikp6/Spotify-Clone" class="btn btn-primary">Know More</a>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <img src="/asset//Simon-Game.png" class="card-img-top" alt="simon-game_image">
                    <div class="card-body">
                      <h5 class="card-title">Simon-Game</h5>
                      <p class="card-text">I developed a responsive Simon Game using HTML5, CSS3, and JavaScript, enhancing my basic understanding of JavaScript.Test your memory and reflexes as you follow the patterns in this interactive and nostalgic twist on a timeless favorite.</p>
                      <a href="https://github.com/patelhardikp6/Simon-Game" class="btn btn-primary">Know More</a>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <img src="/asset/Tic-Tac-Toe Game.png" class="card-img-top" alt="tic-tac-toe image">
                    <div class="card-body">
                      <h5 class="card-title">Tic-Tac-Toe Game</h5>
                      <p class="card-text">Experience classic fun with my Tic-Tac-Toe game built using HTML5, CSS3, and JavaScript. Enjoy intuitive gameplay on any device with a responsive design. Challenge a friend or play against the AI for hours of entertainment. Explore strategic moves in this timeless grid-based game.</p>
                      <a href="https://github.com/patelhardikp6/Tic-Tac-Toe-Game" class="btn btn-primary">Know more</a>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <img src="/asset/Rock-Paper-Scissores.png" class="card-img-top" alt="rock-paper-scissors game">
                    <div class="card-body">
                      <h5 class="card-title">Rock-Paper-Scissors Game</h5>
                      <p class="card-text">Experience the classic challenge of Rock-Paper-Scissors in this interactive web game. Built with HTML5, CSS3, and JavaScript, it features smooth animations and responsive design. Test your strategy against the computer and enjoy a timeless gaming experience right in your browser.</p>
                      <a href="https://github.com/patelhardikp6/Rock-Paper-Scissors" class="btn btn-primary">Konw More</a>
                    </div>
                </div>
                <div class="card" style="width: 25rem;">
                    <img src="/asset/Calculatore.png" class="card-img-top" alt="calculatore_image">
                    <div class="card-body">
                      <h5 class="card-title">calculator</h5>
                      <p class="card-text">Designed using HTML5, CSS3, and JavaScript, my Calculator project offers a user-friendly interface for basic arithmetic operations. It features responsive design, ensuring optimal usability across devices. Built with clear functionality in mind, it showcases my skills in frontend web development and interactive design.</p>
                      <a href="https://github.com/patelhardikp6/Calculatore" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
        </section>
         <!-------- Certificate------------->
       <section class="certificate">
            <div class="card-head">
                <h2>certificate</h2>
            </div>
            <div class="certificate-container">
                <div class="card" style="width: 30rem;">
                    <img src="./asset/Hardik_Delta.png" class="card-img-top" alt="fullstack_apnacollge">
                    <div class="card-body">
                      <h5 class="card-title">Full Stack Devlopment</h5>
                      <p class="card-text">Certified in full-stack development course by Apna College, where I am learning both frontend and backend technologies. As part of the course, I will complete an end-to-end project.</p>
                      <a href="#" class="btn btn-primary">See in Detail</a>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <img src="./asset/Hardik_Coe.png" class="card-img-top" alt="COE_SAP">
                    <div class="card-body">
                      <h5 class="card-title">Center Of Excellence</h5>
                      <p class="card-text">Certified in Machine Learning, Deep Learning, and Artificial Intelligence through the COE course by Edunet Foundation,sponsored by SAP</p>
                      <a href="#" class="btn btn-primary">See in Detail</a>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <img src="./asset/Hardik_Microsoft.png" class="card-img-top" alt="WebDev_Microsoft">
                    <div class="card-body">
                      <h5 class="card-title">Basics of Web Devlopment</h5>
                      <p class="card-text">I completed the Microsoft Azure Web Development Basics course, where I learned the fundamentals of how websites work. This course provided me with in-depth knowledge of frontend technologies. I gained hands-on experience in building and deploying web applications</p>
                      <a href="#" class="btn btn-primary">See in Detail</a>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <img src="./asset/High Level Design Hardik_Patel 2024.png" class="card-img-top" alt="HLD_Scaler">
                    <div class="card-body">
                      <h5 class="card-title">High Level Design</h5>
                      <p class="card-text">I attended a 6-hour seminar by Scaler where I learned about high-level design. The seminar covered the fundamental principles and methodologies of high-level design. I gained insights into how complex systems are structured and how to approach designing scalable and efficient systems</p>
                      <a href="#" class="btn btn-primary">See in Detail</a>
                    </div>
                </div>
            </div>
        </section>
         <!-------- Contact Me ------------->
        <section class="contact-Me">
            <div class="card-head">
                <h2>Contact<span>Me</span></h2>
            </div>
            <form action="https://api.web3forms.com/submit" method="POST">
                
                <input type="hidden" name="access_key" value="92602f1a-f1fa-4e7a-8100-c99c598a9c69">
                <div class="row">
                    <div class="col-4">
                    <input type="text" name="fullName" class="form-control" placeholder="Full Name" aria-label="First name">
                    </div>
                    <div class="col-4">
                    <input type="text" name="email" class="form-control" placeholder="Email Address" aria-label="Last name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                    <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number" aria-label="First name">
                    </div>
                    <div class="col-4">
                    <input type="text" name="subject" class="form-control" placeholder="Subject" aria-label="Last name">
                    </div>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" name="message" placeholder="Leave a comment here" id="floatingTextarea2"></textarea>
                    <label for="floatingTextarea2">Your Message</label>
                </div>
                <div class="btn">
                    <button class="btn btn-primary" type="submit">Send Message</button>
                </div>
            </form>
        </section>
    </main>
         <!-------- Footer ------------->
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="index.js"></script>
</body>
