<% layout("/layouts/boilerplate.ejs") %>
<body>
    <section class="projects">
        <div class="card-head">
            <h2>My<span>Projects</span></h2>
        </div>
        <div class="cards-container">
            <div class="card" style="width:25rem;">
                <img src="/asset/Airbnb-Clone_Photo.png" class="card-img-top" alt="airbnb-clone_image">
                <div class="card-body">
                  <h4 class="card-title">Wanderlust</h4>
                  <p class="card-text">Developed an Wanderlust leveraging CSS3, JavaScript,Express.js,Node.js,EJS and MongoDB. The application replicates core functionalities of Airbnb, including user authentication, property listings,Crud on listings and bookings. Utilized MongoDB Atlas for cloud-based data storage and Render for seamless deployment.</p>
                  <a href="https://airbnb-clone-tts5.onrender.com" class="btn btn-primary">Wanderlust</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/asset/Microsoft-Clone.png" class="card-img-top" alt="microsoft-Clone">
                <div class="card-body">
                  <h4 class="card-title">Microsoft-Clone</h4>
                  <p class="card-text">Designed with HTML5 and CSS3, my Microsoft Clone project replicates the iconic interface of Microsoft applications. From sleek navigation bars to responsive layouts, it mirrors the usability and aesthetic of Microsoft's software suite. This project showcases my proficiency in frontend web development, emphasizing attention to detail and UI fidelity.</p>
                  <a href="https://github.com/patelhardikp6/Microsoft-clone" class="btn btn-primary">Know more</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/asset/Amazon-Clone .png" class="card-img-top" alt="amazon-clone_image">
                <div class="card-body">
                  <h4 class="card-title">Amazon-Clone</h4>
                  <p class="card-text">Experience the essence of Amazon with our HTML5 and CSS3-based clone project. Featuring a familiar user interface, seamless navigation, and responsive design, our clone brings the shopping giant's essence to life. Explore products, add to cart, and simulate a real shopping experience—all crafted with attention to detail for both desktop and mobile platforms.</p>
                  <a href="https://github.com/patelhardikp6/Amazon-Clone" class="btn btn-primary">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/asset/Spotify-Clone.png" class="card-img-top" alt="spotify-clone_image">
                <div class="card-body">
                  <h5 class="card-title">Spotify-Clone</h5>
                  <p class="card-text">Experience a sleek Spotify Clone crafted with HTML5 and CSS3, offering seamless music streaming and playlist management. Emulating the familiar user interface, this project showcases responsive design and interactive features for music enthusiasts. Dive into a personalized music experience with ease.</p>
                  <a href="https://github.com/patelhardikp6/Spotify-Clone" class="btn btn-primary">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/asset//Simon-Game.png" class="card-img-top" alt="simon-game_image">
                <div class="card-body">
                  <h5 class="card-title">Simon-Game</h5>
                  <p class="card-text">I developed a responsive Simon Game using HTML5, CSS3, and JavaScript, enhancing my basic understanding of JavaScript.Test your memory and reflexes as you follow the patterns in this interactive and nostalgic twist on a timeless favorite.</p>
                  <a href="https://github.com/patelhardikp6/Simon-Game" class="btn btn-primary">Know More</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/asset/Tic-Tac-Toe Game.png" class="card-img-top" alt="tic-tac-toe image">
                <div class="card-body">
                  <h5 class="card-title">Tic-Tac-Toe Game</h5>
                  <p class="card-text">Experience classic fun with my Tic-Tac-Toe game built using HTML5, CSS3, and JavaScript. Enjoy intuitive gameplay on any device with a responsive design. Challenge a friend or play against the AI for hours of entertainment. Explore strategic moves in this timeless grid-based game.</p>
                  <a href="https://github.com/patelhardikp6/Tic-Tac-Toe-Game" class="btn btn-primary">Know more</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/asset/Rock-Paper-Scissores.png" class="card-img-top" alt="rock-paper-scissors game">
                <div class="card-body">
                  <h5 class="card-title">Rock-Paper-Scissors Game</h5>
                  <p class="card-text">Experience the classic challenge of Rock-Paper-Scissors in this interactive web game. Built with HTML5, CSS3, and JavaScript, it features smooth animations and responsive design. Test your strategy against the computer and enjoy a timeless gaming experience right in your browser.</p>
                  <a href="https://github.com/patelhardikp6/Rock-Paper-Scissors" class="btn btn-primary">Konw More</a>
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/asset/Calculatore.png" class="card-img-top" alt="calculatore_image">
                <div class="card-body">
                  <h5 class="card-title">calculator</h5>
                  <p class="card-text">Designed using HTML5, CSS3, and JavaScript, my Calculator project offers a user-friendly interface for basic arithmetic operations. It features responsive design, ensuring optimal usability across devices. Built with clear functionality in mind, it showcases my skills in frontend web development and interactive design.</p>
                  <a href="https://github.com/patelhardikp6/Calculatore" class="btn btn-primary">Know More</a>
                </div>
            </div>
        </div>
    </section>
</body>